# Token del bot (Discord Developer Portal > Bot > Token)
DISCORD_TOKEN=MTU0NzMwOTk0OTEzNzQ1MzE2Nw.GFqIku.TACrGA_PzRits9BZuyuNg8eWcjpm-PeneH3QyQ

# Opcional: ID de la aplicación/cliente de Discord
DISCORD_CLIENT_ID=1547309949137453167

# Opcional: ID del servidor (guild) donde corre el bot
DISCORD_GUILD_ID=1546641331927908472

# Secreto compartido para firmar los eventos que el bot envía a la web (HMAC)
VANT_BOT_SYNC_SECRET=VANT_BOT_SYNC_SECRET=VANT_SYNC_7fK9mQ2xL8pR4vN6sT3wY5zA1bC9dE

# Base URL del backend/web de VANT que recibe los eventos
VANT_WEB_BASE_URL=https://vantgg.vercel.app/

#
DISCORD_CLIENT_SECRET=3x8f_viCDdyhWmB_TBBx5rwNxRJUkNhN
